---
layout: default
title: Parables In Wood
path: galleries
---
<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
    {% include "./partials/title.html" %}

    {% set subtitle = "Explore Galleries" %}
    {% include "./partials/subtitle.html" %}
    {% include "./partials/galleryList.html" %}

    {% set subtitle = "Explore Mediums" %}
    {% include "./partials/subtitle.html" %}
    {% include "./partials/mediumList.html" %}
    
    {% set subtitle = "Explore Subject Matter" %}
    {% include "./partials/subtitle.html" %}
    {% include "./partials/subjectMatterList.html" %}
</main>